/* You can add global styles to this file, and also import other style files */

app-root {
  height: 100%;
  width: 100%;
}

.btn-calendar {
  color: #f0c400;
  background-color: #3e3e3d;
  font-weight:bold;
  width:100%;
  margin-top: 20px;
}

.form-textfield {
  border: 3px solid #eac008;
  margin-top: 20px;
}

.form-container {
  background-image: url("./resources/ramka.png");
  background-repeat: no-repeat;
  height:624px;
  width:400px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.form-container form {
  position:fixed;
  top:15%;
  width:20%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
